$kolory: (kol1: #eaec4f, kol2:#e23131, kol3:#9c9ceb, kol4:#7de27d, kol5:#adacac, kol6:#a08221)
    
    *
    box-sizing: border-box
    margin: 0
    padding: 0
body
    font-family: sans-serif
    background-color: #656565

.grid
    display: grid
    grid-template-columns: 1fr 3fr 1fr
    grid-template-rows: 100px 300px 400px 50px
    text-align: center    
    font-weight: bold
    font-size: 20px 
    grid-template-areas: "header header header" "nav main aside" "article article aside" "footer footer footer"
    //"header header header" 
    // "nav main aside" 
    // "article article aside" 
    // "footer footer footer"
header
    grid-area: header
    background-color: map-get($kolory, kol1)
    //grid-column: 1/4
    //grid-row: 1/2

nav
    grid-area: nav
    background-color: map-get($kolory, kol2)
    //grid-column: 1/2
    //grid-row: 2/3

main
    grid-area: main
    background-color: map-get($kolory, kol3)
    //grid-column: 2/3
    //grid-row: 2/3

aside
    grid-area: aside
    background-color: map-get($kolory, kol4)
    //grid-column: 3/4
    //grid-row: 2/4

article
    grid-area: article
    background-color: map-get($kolory, kol5)
    //grid-column: 1/3
    //grid-row: 3/4

footer
    grid-area: footer
    background-color: map-get($kolory, kol6)
    //grid-column: 1/4
    //grid-row: 4/5

.formularz
    display: grid
    grid-template-columns: 1fr 2fr 2fr
    grid-template-rows: 260px 40px
    text-align: right
    font-weight: bold
    font-size: 20px 
    grid-template-areas: "labels inputs wydzial" "przyciski przyciski przyciski"
    
.labels
    grid-area: labels
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(36px, 7)
.inputs
    grid-area: inputs
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(36px, 7)
.wydzial
    grid-area: wydzial    
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 36px 224px
    text-align: center
#przyciski    
    grid-area: przyciski
    text-align: center
button
    font-size: 20px
    background-color: yellow
    padding: 5px