*
    box-sizing: border-box
    margin: 0
    padding: 0
body
    font-family: sans-serif
    background-color: #656565

.grid
    display: grid
    grid-template-columns: 1fr 3fr 1fr
    grid-template-rows: 100px 300px 400px 50px
    text-align: center    
    font-weight: bold
    font-size: 20px 
    //grid-template-areas: "header header header" "nav main aside" "article article aside" "footer footer footer"
    //"header header header" 
    // "nav main aside" 
    // "article article aside" 
    // "footer footer footer"
header
    //grid-area: header
    background-color: #eaec4f
    grid-column: 1/4
    grid-row: 1/2

nav
    //grid-area: nav
    background-color: #e23131 
    grid-column: 1/2
    grid-row: 2/3

main
    //grid-area: main
    background-color: #9c9ceb
    grid-column: 2/3
    grid-row: 2/3

aside
    // grid-area: aside
    background-color: #7de27d
    grid-column: 3/4
    grid-row: 2/4

article
    // grid-area: article
    background-color: #adacac 
    grid-column: 1/3
    grid-row: 3/4

footer
    // grid-area: footer
    background-color: #a08221
    grid-column: 1/4
    grid-row: 4/5

